@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

@font-face {
  font-family: montserratLight;
  src: url('/fonts/montserrat-light-webfont.ttf') format('ttf');
}

@font-face {
  font-family: montserratRegular;
  src: url('/fonts/montserrat-regular-webfont.ttf') format('ttf');
}

@font-face {
  font-family: montserratBold;
  src: url('/fonts/montserrat-bold-webfont.ttf') format('ttf');
}

@font-face {
  font-family: arial;
  src: url('/fonts/Arial-Regular.ttf') format('ttf');
}

@font-face {
  font-family: arialBlack;
  src: url('/fonts/Arial-Black.ttf') format('ttf');
}

@font-face {
  font-family: gotham;
  src: url('/fonts/Gotham-Book.ttf') format('ttf');
}

@font-face {
  font-family: gothamBlack;
  src: url('/fonts/Gotham-Black.otf') format('otf');
}

@font-face {
  font-family: verdana;
  src: url('/fonts/Verdana-Regular.ttf') format('ttf');
}

@font-face {
  font-family: verdanaBold;
  src: url('/fonts/Verdana-Bold.ttf') format('ttf');
}

:root {
  --bg-color: #F2F2F3;
  --bg-color-dark-1: #E5E5E5;
  --bg-color-dark-2: #C8CDD0;
  --bg-color-dark-3: #415058;
  --text-color: #1F292E;
  --primary-color: #ff4e00;
  --danger-color: #EE3B2B;
  --warning-color: #FFC94D;
  --success-color: #3CDD3C;
  --primary-darken: #f74a00;
}

body {
  background-color: var(--bg-color);
  font-family: 'Space Grotesk';
}

svg {
  height: 100%;
  width: auto;
}

a {
  text-decoration: none;
}

input {
  accent-color: var(--primary-color);
}

input[type=range] {
  accent-color: var(--primary-darken);
}

strong {
  font-weight: 800;
}